$black: #000;
$dark: #1f1f1f;
$grey: #383838;
$light-grey: #666;
$light-white: #ffffffbb;
$lighter-white: #ffffff77;
$lightest-white: #ffffff33;
$white: #fff;
$faint-white: #ddd;
$yellow: #ffae00;
$cobalt:  #2190ff;
$blue: #0061b5;
$red: #a20000;