.empty{
	text-align: center;
	padding: 25vh 0;
	&-icon{
        fill: $grey;
        margin-bottom: 1.5*$std-padding;
	}
	&-text{
		line-height: 1.5em;
		color: $lighter-white;
	}
}

.email{
	&-card{
		overflow: hidden;
		cursor: pointer;
		width: 100%;
		height: 100%;
		padding: 1.25vw 1.4vw;
		border-radius: 5%;
		position: absolute;
        transition: all 0.1s ease-in-out;
        background-color: $black;
        display: flex;
        flex-direction: column;
		&:first-child{
            top: 0;
            z-index: 50;
            transform-origin: 50% 100%;
		}
		&:not(:first-child){
			opacity: 0.3;		
		}
		&:nth-child(2){
			transform: scale(0.9) translate(-56.67%,0);
			top: 1vw;
			left: 50%;
		}
		&:nth-child(3){
			transform: scale(0.81) translate(-62.6%,0);
			top: 2vw;
			left: 50%;
			& + *{
				display: none;
			}
		}
    }
    &-meta{
        display: flex;
    }
	&-from{
		font-size: 0.8em;
	}
	&-time{
		font-weight: 100;
		font-size: 0.8em;
		color: $lighter-white;
		margin-left: auto;
	}
	&-subject{
		margin: 0.4vw 0 0.75vw;
		font-weight: 600;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	&-body{
		font-weight: 300;
		color: rgba($light-white,0.5);
		font-size: 0.9em;
		line-height: 1.28em;
		text-overflow: ellipsis;
        overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
}

.alert{
    margin-bottom: 2vw;
    &-card{
        position: relative;
        cursor: pointer;
        width: 100%;
        margin-bottom: 1.25vw;
        border-top-left-radius: $std-padding;
        border-bottom-left-radius: $std-padding;
        background-color: darken($orange,20%);
        padding: 0.9vw 1vw;
        transition: all 0.1s ease-in-out;
        &:first-child{background-color: darken($purple,20%);}
        &:nth-child(2){background-color: darken($seagreen,15%);}
        &:nth-child(3){background-color: darken($cobalt,30%);}
        &:last-child{
            margin-bottom: 0;
        }
        &.true{
            display: block;
        }
        &.false{
            display: none;
        }
    }
    &-meta{
        @extend .email-meta;
    }
    &-from{
        @extend .email-from;
    }
    &-time{
        @extend .email-time;
    }
    &-body{
        margin-top: 0.5vw;
        font-weight: 300;
        line-height: 1.15em;
        display: flex;
        color: $white;
        h1{
            margin-left: auto;
            font-size: 1.4em;
            font-weight: 600;
        }
    }
    &-close{
        position: absolute;
        color: $lighter-white;
        font-size: 0.75em;
        top: calc(-1.5*#{$std-padding});
        left: calc(-1.5*#{$std-padding});
        background-color: inherit;
        box-shadow: 1px 1px 3px $dark;
        width: 3*$std-padding;
        height: 3*$std-padding;
        border-radius: 100%;
        border: none;
        z-index: 4;
    }
}

.genre{
    width: 22vw;
    margin-bottom: 2vw;
    &-card{
        display: inline-block;
        width: 6.5vw;
        height: 6.5vw;
        margin-right: 1.25vw;
        margin-bottom: 1.25vw;
        position: relative;
        background-color: $black;
        border-radius: $std-padding;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        &:nth-child(3n+1):nth-last-child(-n+3),&:nth-child(3n+1):nth-last-child(-n+3)~*{
            margin-bottom:0;
        }
    }
    &-thumbnail{
        height: 100%;
        width: auto;
    }
    &-name{
        @extend %box-tag;
        color: $white;
        font-size: 1.2em;
        font-weight: 800;
        bottom: 0.4vw;
        left: 0.5vw;
        background-color: $black;
    }
}

.tran{
    margin-bottom: 2vw;
    width: 22vw;
    &-card{
        cursor: pointer;
        display: inline-block;
        width: 10.375vw;
        padding: 1vw 1.2vw 1.2vw;
        margin-right: 1.25vw;
        margin-bottom: 1vw;
        background-color: $black;
        border-radius: $std-padding;
        position: relative;
        overflow: hidden;
        &:nth-child(2n){
            margin-right: 0;
        }
        &:hover{
            .tran-count{
                color: $yellow;
            }
        }
    }
    &-count{
        font-size: 2.5em;
        font-weight: 700;
        color: $white;
    }
    &-name{
        font-size: 0.9em;
    }
}

.order{
    &-card{
        background-color: $black;
        padding: 1vw 1.1vw;
        width: 100%;
        border-radius: $std-padding;
    }
    &-meta{
        @extend .email-meta;
    }
    &-subject{
        @extend .email-from;
    }
    &-body{
        margin-top: 0.5vw;
        line-height: 1.1em;
        h1{
            color: $white;
            margin-bottom: 0.4vw;
        }
        h2,h3{
            font-size: 0.8em;
            margin-bottom: 0.3vw;
        }
        h5{
            display: inline-block;
            color: $yellow;
        }
    }
    &-time{
        @extend .email-time;
    }
}


.view{
    &-box{
        margin-bottom: 8%;
    }
    &-button{
        display: inline-block;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
        color: inherit;
        font-weight: 500;
        width: 48%;
		background-color: $grey;
        border-radius: 0.75*$std-padding;
		text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8em;
        padding: 2*$std-padding;
        vertical-align: middle;
		&:not(:last-child){
			margin-right: 4%;
        }
        &.true{
            background-color: $black;
            color: $cobalt;
			.view-icon{
				fill: $cobalt;
			}
		}
		&.false:hover{
			background-color: $lightest-white;
		}
    }
    &-icon{
		margin-right: 0.75*$std-padding;
		vertical-align: bottom;
	}
}

.pop{
    &-layer1{
        position: fixed;
        background: rgba($black,0.8);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 51;
    }
    &-layer2{
        position: fixed;
        width: calc(45% + 5*#{$std-padding} + 1vw);
        display: flex;
        align-items: center;
        left: calc((100% - 45%)/2);
        top: 0;
        bottom: 0;
        z-index: 52;
    }
    &-modal{
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
        padding: 2.5vw 0;
        z-index: 53;
    }
    &-wrapper{
        width: calc(100% - 5*#{$std-padding} - 1vw);
    }
    &-section{
        @extend %box-tag;
        font-size: 0.9em;
        position: static;
        display: inline-block;
        margin-bottom: 1.5%;
        margin-right: $std-padding;
        background-color: $red;
        color: $faint-white;
        text-decoration: none;
        &:hover{
            background-color: darken($red,5%);
        }
    }
    &-title{
        margin-bottom: 1.5vw;
        font-weight: 900;
        font-size: 2.1em;
        letter-spacing: -1px;
        line-height: 1.15em;
    }
    &-meta{
        color: $grey;
        margin-bottom: 4.5%;
        span{
            display: inline-block;
            margin-right: 1.5%;
            max-width: 45ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: bottom;
        }
        span:not(:first-child){
            margin-left: 1.5%;
        }
    }
    &-detail{
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.4em;
        p{
            margin-bottom: 1%;
        }
        time, em{
            font-weight: 700;
        }
        a{
            text-decoration: none;
            color: darken($cobalt,5%);
        }
        blockquote{
            margin: 3% 0;
            padding-left: 3%;
            border-left: 3px solid $red;
            em{
                font-weight: initial;
                br{
                    display: none;   
                }
            }
        }
        h2, h2.block-title{
            font-weight: 700;
            margin-bottom: 1%;
        }
        figure{
            width: 100%;
            margin: 3% 0;
            iframe{
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                border-radius: $std-padding;
            }
            figcaption{
                font-size: 0.75em;
                color: $light-grey;
                text-align: left;
                line-height: 1.25em;
                margin-top: 1%;
            }
        }
    }
    &-end{
        color: $red;
        text-align: center;
        margin-top: 4%;
        letter-spacing: -0.5px;
    }
    &-close{
        position: fixed;
        top: calc(5% - 2*#{$std-padding});
        right: calc(25% - 2*#{$std-padding});
        background-color: $grey;
        width: 4*$std-padding;
        height: 4*$std-padding;
        border-radius: 100%;
        border: none;
        z-index: 4;
    }
    &-share{
        font-size: 0.9em;
        padding: $std-padding*0.32 $std-padding*0.65;
        border-radius: 0.6*$std-padding;
        font-family: inherit;
        border: 1px solid $cobalt;
        text-decoration: none;
        background-color: transparent;
        color: $cobalt;
        line-height: 1;
        font-weight: 300;
        box-sizing: inherit;
        &:hover{
            background-color: $cobalt;
            color: $faint-white;
        }
    }
    @media screen and (min-width: 700px) {
        &-modal{
            border-radius: 1.5*$std-padding;
        }
    }
}

.general{
    &-modal{
        @extend .pop-modal;
    }
    &-wrapper{
        @extend .pop-wrapper;
    }
    &-title{
        @extend .pop-title;
        span{
            text-transform: capitalize;
            color: $yellow;
        }
    }
}
.item{
    &-card{
        background-color: $dark;
        padding: 1.9vw 2vw;
        margin-bottom: 1.5vw;
        border-radius: 0.9*$std-padding;
        line-height: 1.4em;
        position: relative;
    }
    &-meta{
        @extend .email-meta;
    }
    &-from{
        @extend .email-from;
    }
    &-time{
        @extend .email-time;
    }
    &-subject{
        @extend .email-subject;
    }
}

.thread{
    &-modal{
        @extend .pop-modal;
    }
    &-wrapper{
        @extend .pop-wrapper;
    }
    &-title{
        @extend .pop-title;
    }
    &-card{
        @extend .item-card;        
    }
    &-meta{
        @extend .email-meta;
    }
    &-from{
        @extend .email-from;
        font-size: 1em;
        & > span{
            color: $yellow;
        }
    }
    &-to > span{
        color: $yellow;
    }
    &-cc > span:first-child{
        color: $yellow;
    }
    &-time{
        @extend .email-time;
        font-size: 1em;
    }
    &-body{
        margin-top: 1vw;
    }
}

.email{
    &-action{
        position: absolute;
        right: calc(-5*#{$std-padding} - 1vw);
        top: 0;
    }
    &-each{
        display: block;
        border-radius: 0.75*$std-padding;
        width: 5*$std-padding;
        height: 5*$std-padding;
        margin-bottom: 0.75vw;
        border: none;
        text-decoration: none;
        background-color: $grey;
        &:hover{
            background-color: $dark;
            .email-icon{
                fill: $yellow;
            }
        }
    }
}


.article{
    &-view{
        width: 44vw;
        margin-right: 2vw;
        display: inline-block;
    }
    &-section{
        @extend .pop-section;
        margin-bottom: 1.3%;
    }
    &-title{
        @extend .pop-title;
        font-size: 2.5em;
        margin-bottom: 1.5%;
    }
    &-meta{
        @extend .pop-meta;
        color: $lighter-white;
        margin-bottom: 5%;
    }
    &-detail{
        @extend .pop-detail;
        a{
            color: lighten($cobalt,5%);
        }
    }
    &-end{
        @extend .pop-end;
        color: $lighter-white;
    }
    &-share{
        @extend .pop-share;
        color: $light-white;
        border-color: $light-white;
        &:hover{
            border-color: $cobalt;
        }
    }
    &-related{
        height: 100px;
        display: inline-block;
        vertical-align: top;
        width: 21vw;
        position: sticky;
        top: 2.75vw;
        &-title{
            @extend .panel-box-title;
            color: $white;
        }
        &-section{
            text-decoration: none;
            color: lighten($cobalt,5%);
        }
    }
}

.sections{
    margin-bottom: 2vw;
    & > span{
        vertical-align: middle;
        font-weight: 200;
        color: $lighter-white;
        margin-right: 1.5*$std-padding;
    }
    .panel-button{
        margin-top: 0;
    }
}

.home{
    padding-top: 16vh;
    height: 100vh;
    background-color: $black;
    text-align: center;
    box-sizing: inherit;
    &-header{
        width: 75%;
        margin: 0 auto;
        font-size: 3.1em;
        font-weight: 800;
        color: $white;
        letter-spacing: -4px;
    }
    &-name{
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: 3*$std-padding;
        padding: 2*$std-padding 2.5*$std-padding 1.5*$std-padding;
        border-radius: 2*$std-padding;
        background-color: $grey;
    }
    &-title{
        font-size: 0.9em;
    }
    &-highlight{
        color: $seagreen;
    }
    &-cta{
        display: inline-block;
        background-color: $seagreen;
        padding: $std-padding 1.9*$std-padding;
        letter-spacing: -0.5px;
        color: $white;
        border: none;
        text-decoration: none;
        font-family: inherit;
        border-radius: 0.75*$std-padding;
        font-weight: 600;
        margin-top: 4*$std-padding;
        font-size: 1.25em;
        &:hover{
            background-color: darken($seagreen,7.5%);
        }
    }
    &-ps{
        width: 60%;
        margin: 2*$std-padding auto;
        font-size: 0.8em;
        line-height: 1.2em;
        color: $lighta-white;
    }
    @media screen and (max-width: 700px) {
        &-title{
            letter-spacing: -2px;
        }
    }
    @media screen and (min-width: 700px) {
        padding-top: 20vh;
        &-header{
            width: 60%;
            font-size: 5em;
        }
        &-name{
            padding: 3*$std-padding 4*$std-padding 1.5*$std-padding;
            border-radius: 2.5*$std-padding;
        }
        &-title{
            font-size: 1em;
        }
        &-ps{
            width: 20%;
        }
    }
}