.empty{
	text-align: center;
	padding: 25vh 0;
	&-icon{
        fill: $grey;
        margin-bottom: 1.5*$std-padding;
	}
	&-text{
		line-height: 1.5em;
		color: $lighter-white;
	}
}

.view{
    &-box{
        margin-bottom: 8%;
    }
    &-button{
        display: inline-block;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
        color: inherit;
        font-weight: 500;
        width: 48%;
		background-color: $grey;
        border-radius: 0.75*$std-padding;
		text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8em;
        padding: 2*$std-padding;
        vertical-align: middle;
		&:not(:last-child){
			margin-right: 4%;
        }
        &.true{
            background-color: $black;
            color: $cobalt;
			.view-icon{
				fill: $cobalt;
			}
		}
		&.false:hover{
			background-color: $lightest-white;
		}
    }
    &-icon{
		margin-right: 0.75*$std-padding;
		vertical-align: bottom;
	}
}

.pop{
    &-layer{
        position: fixed;
        background: rgba($black,0.75);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        transition: all 0.08s ease-in-out;
    }
    &-modal{
        position: fixed;
        background-color: $faint-white;
        color: $dark;
        width: 50%;
        top: 5%;
        left: 25%;
        max-height: 90%;
        overflow: scroll;
        border-radius: 1.25*$std-padding;
        padding: 2.5% 3%;
        z-index: 3;
    }
    &-section{
        @extend %box-tag;
        font-size: 0.9em;
        position: static;
        display: inline-block;
        margin-bottom: 1.5%;
        margin-right: $std-padding;
        background-color: $red;
        color: $faint-white;
        text-decoration: none;
        &:hover{
            background-color: darken($red,5%);
        }
    }
    &-title{
        margin-bottom: 2%;
        font-weight: 900;
        font-size: 2.1em;
        letter-spacing: -1px;
        line-height: 1.15em;
    }
    &-meta{
        color: $grey;
        margin-bottom: 4.5%;
        span{
            display: inline-block;
            margin-right: 1.5%;
            max-width: 45ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: bottom;
        }
        span:not(:first-child){
            margin-left: 1.5%;
        }
    }
    &-detail{
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.4em;
        p{
            margin-bottom: 1%;
        }
        time, em{
            font-weight: 700;
        }
        a{
            text-decoration: none;
            color: darken($cobalt,5%);
        }
        blockquote{
            margin: 3% 0;
            padding-left: 3%;
            border-left: 3px solid $red;
            em{
                font-weight: initial;
                br{
                    display: none;   
                }
            }
        }
        h2, h2.block-title{
            font-weight: 700;
            margin-bottom: 1%;
        }
        figure{
            width: 100%;
            margin: 3% 0;
            iframe{
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                border-radius: $std-padding;
            }
            figcaption{
                font-size: 0.75em;
                color: $light-grey;
                text-align: left;
                line-height: 1.25em;
                margin-top: 1%;
            }
        }
    }
    &-end{
        color: $red;
        text-align: center;
        margin-top: 4%;
        letter-spacing: -0.5px;
    }
    &-close{
        position: fixed;
        top: calc(5% - 2*#{$std-padding});
        right: calc(25% - 2*#{$std-padding});
        background-color: $grey;
        width: 4*$std-padding;
        height: 4*$std-padding;
        border-radius: 100%;
        border: none;
        z-index: 4;
    }
    &-share{
        font-size: 0.9em;
        padding: $std-padding*0.32 $std-padding*0.65;
        border-radius: 0.6*$std-padding;
        font-family: inherit;
        border: 1px solid $cobalt;
        text-decoration: none;
        background-color: transparent;
        color: $cobalt;
        line-height: 1;
        font-weight: 300;
        box-sizing: inherit;
        &:hover{
            background-color: $cobalt;
            color: $faint-white;
        }
    }
    @media screen and (min-width: 700px) {
        &-modal{
            border-radius: 1.5*$std-padding;
        }
    }
}

.article{
    &-view{
        width: 44vw;
        margin-right: 2vw;
        display: inline-block;
    }
    &-section{
        @extend .pop-section;
        margin-bottom: 1.3%;
    }
    &-title{
        @extend .pop-title;
        font-size: 2.5em;
        margin-bottom: 1.5%;
    }
    &-meta{
        @extend .pop-meta;
        color: $lighter-white;
        margin-bottom: 5%;
    }
    &-detail{
        @extend .pop-detail;
        a{
            color: lighten($cobalt,5%);
        }
    }
    &-end{
        @extend .pop-end;
        color: $lighter-white;
    }
    &-share{
        @extend .pop-share;
        color: $light-white;
        border-color: $light-white;
        &:hover{
            border-color: $cobalt;
        }
    }
    &-related{
        height: 100px;
        display: inline-block;
        vertical-align: top;
        width: 21vw;
        position: sticky;
        top: 2.75vw;
        &-title{
            @extend .panel-box-title;
            color: $white;
        }
        &-section{
            text-decoration: none;
            color: lighten($cobalt,5%);
        }
    }
}

.sections{
    margin-bottom: 2vw;
    & > span{
        vertical-align: middle;
        font-weight: 200;
        color: $lighter-white;
        margin-right: 1.5*$std-padding;
    }
    .panel-button{
        margin-top: 0;
    }
}


.home{
    padding-top: 16vh;
    height: 100vh;
    background-color: $black;
    text-align: center;
    box-sizing: inherit;
    &-header{
        width: 70%;
        margin: 0 auto;
        font-size: 3.5em;
        font-weight: 800;
        color: $white;
        letter-spacing: -4px;
    }
    &-name{
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: 3*$std-padding;
        padding: 2*$std-padding 2.5*$std-padding 1.5*$std-padding;
        border-radius: 2*$std-padding;
        background-color: $grey;
    }
    &-highlight{
        color: $cobalt;
    }
    &-cta{
        display: inline-block;
        background-color: $cobalt;
        padding: $std-padding 1.9*$std-padding;
        letter-spacing: -0.5px;
        color: $white;
        border: none;
        text-decoration: none;
        font-family: inherit;
        border-radius: 0.75*$std-padding;
        font-weight: 600;
        margin-top: 4*$std-padding;
        font-size: 1.25em;
        &:hover{
            background-color: darken($cobalt,7.5%);
        }
    }
    @media screen and (min-width: 700px) {
        padding-top: 20vh;
        &-header{
            width: 60%;
            font-size: 5em;
        }
        &-name{
            padding: 3*$std-padding 4*$std-padding 1.5*$std-padding;
            border-radius: 2.5*$std-padding;
        }
    }
}