@import "normalize";
@import "colors";
@import "variables";
@import "fonts";
@import "elements";
@import "components";

body{
	font-family: 'Circular Std', sans-serif;
	background-color: $dark;
	color: $light-white;
	font-weight: 300;
}

.header{
	background-color: #000;
	padding: 2*$std-padding 2.5*$std-padding;
	&-title{
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: none;
		color: inherit;
	}
	&-user{
		float: right;
	}
}

.main{
	width: 100%;
	padding: 4*$std-padding;
	box-sizing: inherit;
	&-content{
		display: block;
	}
	&-head{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: 6%;
	}
	&-title{
		font-size: 2em;
		font-weight: 700;
		color: $white;
		white-space: nowrap;
		& > span{
			display: inline-block;
			width: 40%;
			padding-bottom: 1.75*$std-padding;
			border-bottom: 2px solid $red;
		}
		.query{
			color: $light-white;
		}
	}
	&-extra{
		font-size: 1em;
		font-weight: 300;
		color: $lighter-white;
	}
	@media screen and (min-width: 700px) {		
		padding: 2.75% 2.75% 4%;
		&-head{
			margin-bottom: 3.5%;
		}
		&-content{
			display: inline-block;
			width: 70vw;
			vertical-align: top;
			margin-right: 2.75%;
		}
	}
}

.panel{
	display: block;
	margin-bottom: 12%;
	&-head{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-bottom: 4.5%;
	}
	&-title{
		color: $white;
		font-size: 1.2em;
		font-weight: 700;
	}
	&-button{
		font-family: inherit;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
		background-color: $grey;
		border-radius: 0.5*$std-padding;
		border: none;
		color: $light-white;
		text-transform: uppercase;
		font-size: 0.72em;
		letter-spacing: 1px;
		line-height: initial;
		padding: 0.8*$std-padding 1.3*$std-padding;
		margin: 2.5% 2.5% 0 0;
		&.top{
			margin: 0 2.5% 2.5% 0;
		}
		&.true{
			background-color: $black;
			color: $yellow;
			cursor: default;
		}
		&:not(.true):hover{
			background-color: $lighter-white;
		}
		span{
			vertical-align: middle;
		}
	}
	&-box{
		background-color: $black;
		margin-bottom: 4.25%;
		border-radius: 1.25*$std-padding;
		padding: 2.5*$std-padding 2.75*$std-padding 2.75*$std-padding;
		&-group:not(:last-child){
			margin-bottom: 2*$std-padding;
		}
		&-title{
			font-size: 0.9em;
			margin-bottom: 1%;
		}
	}
	&-search{
		margin-bottom: 4.25%;
	}
	&-input{
		width: 100%;
		font-family: inherit;
		font-weight: 300;
		text-decoration: none;
		border: none;
		box-sizing: inherit;
		border-radius: 0.75*$std-padding;
		background-color: $grey;
		height: 5*$std-padding;
		padding: 0 1.5*$std-padding;
		color: $light-white;
	}
	&-extra{
		@extend %text-button;
		font-size: 0.7em;
	}
	&-widget{
		height: 160px;
		background-color: $black;
		margin-bottom: 4.25%;
		border-radius: 1.25*$std-padding;
		padding-top: 0.5*$std-padding;
		iframe{
			border-radius: 1.25*$std-padding;
			overflow: hidden;
			*{
				cursor: default;
			}
			.tv-ticker-item-last__last{
				font-size: 20px !important;
			}
		}
	}
	@media screen and (min-width: 700px) {
		display: inline-block;
		width: 24.75%;
		vertical-align: top;
		margin: 0 2.75%;
		position: sticky;
		top: 2.75vw;
		&-button{
			margin-right: 1.25*$std-padding;
			margin-top: 1.25*$std-padding;
		}
	}
}

.group{
	margin-bottom: 6%;
	&-title{
		color: $lighter-white;
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 4.5%;
	}
	&.off{
		background-color: $black;
		padding: 2em 2em 0;
		border-radius: 2*$std-padding;
		.group-title{
			color: $lighter-white;
		}
	}
	&-sender{
		display: inline-block;
		&.sender{
			&-0{
				.email-card{
					&:first-child{
						border-color: rgba($cobalt,0.5);
					}
					&:not(:first-child){
						background-color: rgba($cobalt,0.2);
					}
				}
				.email-from{
					color: $cobalt;
				}
			}
			&-1{
				.email-card{
					&:first-child{
						border-color: rgba($yellow,0.5);
					}
					&:not(:first-child){
						background-color: rgba($yellow,0.3);
					}
				}
				.email-from{
					color: $yellow;
				}
			}
			&-2{
				.email-card{
					&:first-child{
						border-color: rgba($yellow,0.5);
					}
					&:not(:first-child){
						background-color: rgba($yellow,0.3);
					}
				}
				.email-from{
					color: $yellow;
				}
			}
			&-3{
				.email-card{
					&:first-child{
						border-color: rgba($orange,0.5);
					}
					&:not(:first-child){
						background-color: rgba($orange,0.3);
					}
				}
				.email-from{
					color: $orange;
				}
			}
			&-4{
				.email-card{
					&:first-child{
						border-color: rgba($seagreen,0.9);
					}
					&:not(:first-child){
						background-color: rgba($seagreen,0.3);
					}
				}
				.email-from{
					color: $seagreen;
				}
			}
		}
	}
	&-email{
		position: relative;
		display: inline-block;
		width: 16vw;
		height: 12vw;
		margin: 0 1.5vw 1.5vw 0;		
	}
	@media screen and (min-width: 700px) {
		margin-bottom: 3%;
		&-title{
			margin-bottom: 3.25%;
		}
	}
	@media screen and (min-width: 1000px) {
		&-title{
			margin-bottom: 2%;
		}
	}
}

.item{
	display: inline-block;
	vertical-align: top;
	transition: transform 0.1s ease-in-out;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	&.small{
		margin: 1.2vw 0 0;		
		.item-tile{
			width: 20%;
			display: inline-block;
			margin-top: 0.4*$std-padding;	
		}
		.item-section{
			display: none;
		}
		.item-detail{
			width: 80%;
			padding-left: 1vw;
			display: inline-block;
			vertical-align: top;
		}
		.item-title{
			font-size: 0.9em;
			color: $faint-white;
		}
		.item-date{
			font-size: 0.7em;
		}
	}	
	&.big{
		width: 47.5%;
		margin: 5% 0;
		.item-detail{
			padding: 5% 0 0;
		}
	}
	&.large{
		.item-detail{
			padding: 5% 0 0;
		}
	}
	&-tile{
		width: 100%;
		position: relative;
		border-radius: $std-padding;
		overflow: hidden;
		img{
			width: 100%;
			display: block;
			height: auto;
			filter: none;
			transition: all 0.15s ease-in-out;
		}
	}
	&-form{
		margin-bottom: 0.2*$std-padding;
		display: block;
	}
	&-section{
		@extend %box-tag;
		color: $white;
		top: 0.6*$std-padding;
		right: 0.6*$std-padding;
		z-index: 1;
		background-color: $red;
	}
	&-title{
		font-size: 1.1em;
		line-height: 1.25em;
		color: $white;
	}
	&-date{
		display: inline-block;
		margin-top: 2.5%;
		color: $lighter-white;
		font-size: 0.8em;
	}
	&-author{
		@extend .item-date;
		margin-top: 1.5%;
	}
	&:hover{
		.item-tile img{
			filter: grayscale(100%);
			transform: scale(1.05);
		}
	}
	@media screen and (min-width: 700px) {
		border-radius: 0.5*$std-padding;
		&.big{
			margin: 0 4% 3.5% 0;
			width: 48%;
		}
	}
	@media screen and (min-width: 1000px) {
		&-tile{
			border-radius: 0.75*$std-padding;
		}
		&-intro{
			margin-top: 3%;
			font-size: 1em;
			line-height: 1.4em;
		}
		&.small{
			.item-tile{
				border-radius: 0.5*$std-padding;
			}
		}
		&.big{
			margin: 0 2vw 2.5vw 0;
			width: 21vw;
			&:nth-child(3n){
				margin-right: 0;
			}
			&:nth-child(3n+1):nth-last-child(-n+3),&:nth-child(3n+1):nth-last-child(-n+3)~*{
				margin-bottom:0;
			}
		}
		&.large{
			margin: 0 0 2.5vw;		
			width: 100%;
			.item-tile{
				width: 50%;
				display: inline-block;
				vertical-align: top;		
			}
			.item-title{
				font-size: 1.5em;
				font-weight: 400;
			}			
			.item-detail{
				width: 50%;
				display: inline-block;
				vertical-align: top;
				padding: 0 2vw;
			}
		}
	}
}

.email{
	&-card{
		overflow: hidden;
		cursor: pointer;
		width: 100%;
		height: 100%;
		padding: 1.3vw 1.4vw;
		background-color: $black;
		border-radius: 5%;
		position: absolute;
		left: 0;
		&:first-child{
			z-index: 50;			
		}
		&:not(:first-child){			
			*{display: none;}
		}
		&:nth-child(2){
			transform: scale(0.9) translate(-56.67%,0);
			top: 1vw;
			left: 50%;
		}
		&:nth-child(3){
			transform: scale(0.81) translate(-62.6%,0);
			top: 2vw;
			left: 50%;
		}
	}
	&-from{
		font-size: 0.8em;
		vertical-align: top;	
	}
	&-time{
		font-weight: 100;
		font-size: 0.8em;
		color: $lighter-white;
		float: right;
	}
	&-subject{
		margin: 0.3vw 0 0.75vw;
		font-weight: 600;
		font-size: 1.2em;
		line-height: 1.2em;
	}
	&-body{
		font-weight: 300;
		color: rgba($light-white,0.6);
		font-size: 0.9em;
		line-height: 1.25em;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
}